*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    min-height: 90vh;
    background-color: rgb(226, 219, 219);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10vw;
    min-height: 85vh;
    padding: 5px 20px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(32, 27, 27);
    border-radius: 5px;
}
div.form-container{
    border-left: 5px solid rgb(226, 219, 219);
    border-right: 5px solid rgb(226, 219, 219);
    border-radius: 20px;
    min-width: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}
div.form-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.form-container form div.label{
    color: goldenrod;
}
div.form-container form input{
    width: 30vw;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
    margin-bottom: 18px;
    position: relative;
    bottom: 2px;
}
div.form-container form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    margin-bottom: 25px;
    position: relative;
    top: 3px;
    cursor: pointer;
}
div.form-container form input[type="submit"]{
    height: 32px;
    border-radius: 8px;
    background-color: rgb(226, 219, 219);
    color: rgb(14, 91, 136);
    box-shadow: 0px 3px 10px rgb(25, 3, 105);
    font-weight:300;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    cursor: pointer;
    width: 18vw;
    border: none;
}
div.form-container form input[type="submit"]:hover{
    transform:scale(1.05);
    color: white;
    background-color: rgb(14, 91, 136);
    box-shadow: 0px 3px 10px rgb(5, 58, 233);
    transition: 2s;
}
div.form-container form input:focus{
    border-bottom: 2px solid #e91e63;
    outline: none;
    transition: 1s;
}
div.form-container form input:valid{
    border-bottom: 2px solid #2ee94d;
    outline: none;
}
div.form-container form input[type="submit"]:valid{
    border-bottom: none;
}
span.pop-up-on-click{
    color: #e91e63;
    cursor: pointer;
}
h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}
div.form-container div.go-with ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
@media (max-width:1025px) {
    .wrapper{
        box-shadow: 3px 3px 10px rgb(32, 27, 27);
    }
    div.form-container{
        border-left: 3px solid rgb(226, 219, 219);
        border-right: 3px solid rgb(226, 219, 219);
        min-width: 40vw;
        gap: 8px;
        padding: 18px 25px;
    }
    div.form-container form input{
        width: 36vw;
        font-size: 17px;
        margin-bottom: 17px;
        position: relative;
        bottom: 2px;
    }
    div.form-container form input[type="checkbox"]{
        width: 18px;
        height: 18px;
        margin-bottom: 18px;
        position: relative;
        top: 3px;
    }
    div.form-container form input[type="submit"]{
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 14px;
        width: 20vw;
    }
    h3{
        margin-bottom: 18px;
        font-size: 28px;
    }
    div.form-container div.go-with ul{
        gap: 10px;
    }
    .label{
        font-size: 20px;
    }
}
@media (max-width:661px) {
    .wrapper{
        box-shadow: 2px 2px 10px rgb(32, 27, 27);
    }
    div.form-container{
        min-width: 60vw;
        gap: 8px;
        padding: 18px 25px;
    }
    div.form-container form input{
        width: 52vw;
        font-size: 17px;
        margin-bottom: 17px;
        position: relative;
        bottom: 2px;
    }
    div.form-container form input[type="checkbox"]{
        width: 17px;
        height: 17px;
        margin-bottom: 18px;
        position: relative;
        top: 3px;
    }
    div.form-container form input[type="submit"]{
        font-size: 17px;
        margin-bottom: 10px;
        margin-top: 14px;
        width: 20vw;
    }
    h3{
        margin-bottom: 18px;
        font-size: 26px;
    }
    div.form-container div.go-with ul{
        gap: 10px;
    }
    .label{
        font-size: 18px;
    }
}
@media (max-width:493px) {
    div.form-container{
        min-width: 75vw;
        gap: 8px;
        padding: 12px 18px;
    }
    div.form-container form input{
        width: 72vw;
        font-size: 17px;
        margin-bottom: 17px;
        position: relative;
        bottom: 2px;
    }
    div.form-container form input[type="checkbox"]{
        width: 15px;
        height: 15px;
        margin-bottom: 14px;
        position: relative;
        top: 3px;
    }
    div.form-container form input[type="submit"]{
        font-size: 17px;
        margin-bottom: 10px;
        margin-top: 14px;
        width: 36vw;
    }
    h3{
        margin-bottom: 16px;
        font-size: 24px;
    }
    div.form-container div.go-with ul{
        gap: 10px;
    }
    .terms-n-conditions{
        font-size: 15px;
    }
    .label{
        font-size: 16px;
    }
}
@media (max-width:339px) {
    div.form-container{
        min-width: 80vw;
        gap: 8px;
        padding: 10px 14px;
    }
    div.form-container form input{
        width: 78vw;
        font-size: 14px;
        margin-bottom: 14px;
        position: relative;
        bottom: 2px;
    }
    div.form-container form input[type="checkbox"]{
        width: 11px;
        height: 11px;
        margin-bottom: 14px;
        position: relative;
        top: 1px;
    }
    div.form-container form input[type="submit"]{
        font-size: 15px;
        margin-bottom: 8px;
        margin-top: 12px;
        width: 36vw;
    }
    h3{
        margin-bottom: 16px;
        font-size: 21px;
    }
    .terms-n-conditions{
        font-size: 12px;
    }
    .label{
        font-size: 14px;
    }
    div.form-container div.go-with ul{
        gap: 10px;
    }
}